.login a:hover,
.nav ul li a:hover,
a {
    text-decoration: none;
}
.ellipsis,
.nav {
    white-space: nowrap;
}
.city-section,
.ellipsis,
.google-maps,
.offer-box,
.posto > a,
.posto > p,
.posto > span,
ul.tabs {
    overflow: hidden;
}
.on-top img,
.social-icons > span {
    vertical-align: middle;
}
.google-maps {
    position: relative;
    padding-bottom: 95%;
    height: 0;
}
.google-maps iframe {
    position: absolute;
    top: 10;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.banner,
.container,
.header,
.login {
    position: relative;
}
.noliststyle {
    list-style: none;
    margin: 0;
    padding: 0;
}
.clearfix:after,
.update:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
.hidden {
    display: none !important;
}
.ellipsis {
    text-overflow: ellipsis;
}
.tl {
    text-align: left;
}
.tr {
    text-align: right;
}
.tc {
    text-align: center;
}
.m0 {
    margin: 0 !important;
}
.mt0 {
    margin-top: 0 !important;
}
.mb0 {
    margin-bottom: 0 !important;
}
.ml0 {
    margin-left: 0 !important;
}
.mr0 {
    margin-right: 0 !important;
}
.p0 {
    padding: 0 !important;
}
.pt0 {
    padding-top: 0 !important;
}
.pb0 {
    padding-bottom: 0 !important;
}
.pl0 {
    padding-left: 0 !important;
}
.pr0 {
    padding-right: 0 !important;
}
#challenge-label,
#login-label,
#optionalfields-label,
#register-label,
#search-label,
#sendEmail-label {
    display: none;
}
iframe,
ins,
textarea {
    max-width: 100%;
}
input,
select,
textarea {
    padding: 6px;
    width: 100%;
    border: 1px solid #777;
}
input:focus,
select:focus,
textarea:focus {
    border-color: #4f9a29;
}
input[type="submit"] {
    background: #468a23;
    border: 1px solid #187606;
    color: #fff;
    padding: 0 15px;
    height: 31px;
    line-height: 31px;
    font-size: 18px;
    font-family: "Roboto Slab", serif;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: #4f9a29;
}
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="submit"] {
    width: auto;
}
.child-srch dt,
.zend_form dt {
    margin: 8px 0;
    font-size: 13px;
}
.child-srch dd:not(:last-child),
.zend_form dd:not(:last-child) {
    margin-bottom: 15px;
}
#type-element label {
    display: inline-block;
}
#type-element label input {
    margin-right: 5px;
}
#type-element label:first-child {
    margin-right: 30px;
}
.form-action-row {
    -webkit-justify-content: space-between;
    -webkit-align-items: flex-end;
    -webkit-flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.header,
.logo {
    display: inline-block;
}
.banner h1,
body {
    font-weight: 400;
}
.breadcrumbs ul,
.cities ul,
.nav ul,
footer ul,
ul.list li,
ul.tabs li {
    list-style-type: none;
}
* {
    margin: 0;
    padding: 0;
}
::-moz-placeholder {
    color: #ccc;
    font-size: 18px;
}
a {
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition: all 0.2s ease-in-out 0s;
}
p {
    line-height: 24px;
    margin: 0 0 20px;
}
img {
    border: none;
}
body {
    background: #fff;
    color: #222;
    font-family: "Roboto Slab", serif;
    font-size: 15px;
}
.adsense {
    float: right;
    margin: 0 18px 7px 0;
}
.countyads {
    float: left;
    margin: 0 0 0 164px;
}
.container {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.login {
    position: absolute;
}
.header {
    width: 100%;
    padding: 5px 0;
    background: #63DBE4;
    border-bottom: 2px solid #44d0da;
    height: 120px;
}
.header > .container {
    height: 100%;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}
.logo {
    width: 38%;
}
.nav {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin: 10px 0 0 10px;
}
.offer-box-wrapper,
ul.tabs {
    -webkit-align-items: stretch;
}
.login {
    top: 0;
    right: 10px;
}
.login a {
    display: inline-block;
    background: #00c7ae;
    color: #fff;
    margin: 0 4px;
    padding: 7px 14px;
}
.login a:hover {
    color: #fff;
    background: #00a38d;
}
.banner,
.logo img {
    width: 100%;
    height: auto;
}
.nav ul li:last-child {
    padding-right: 0;
}
.nav-mobile {
    display: none;
}
.banner {
    background: url(/images/banner.jpg) center center no-repeat;
    height: 597px;
    background-size: cover;
    margin: 0;
    position: relative;
}
.banner h1 {
    color: #fff;
    font-family: "Roboto Slab", serif;
    font-size: 48px;
    padding: 30px 0 0;
    font-weight: 600;
}
#pano,
.bttm,
.offer-box,
.on-top,
.social-icons {
    position: relative;
}
.bttm {
    top: 40px;
}
#tabsholder {
    max-width: 60%;
    margin: 0;
    background: #f9ffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}
#tabsholder h4 {
    color: #09357a;
    font-weight: 600;
    font-size: 24px;
}
ul.list li {
    margin-left: 20px;
}
ul.tabs {
    display: inline-block;
    border: solid 1px #f0f2f2;
    padding: 5px;
    border-radius: 50px;
    margin: 15px 0 0;
}
ul.tabs li {
    float: left;
    color: #373f41;
    padding: 7px 20px;
    margin-right: 2px;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
}
ul.tabs li:hover {
    background-color: #00c7ae;
    color: #fff;
}
ul.tabs li.current {
    font-weight: 500;
    background-color: #00c7ae;
    color: #fff;
}
.tabscontent {
    border: 1px solid #f0f2f2;
    padding: 0;
    display: none;
    width: 100%;
    text-align: justify;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
}
.bgf,
.left-sect {
    text-align: left;
}
.bgf {
    padding: 25px 45px;
}
#searchform {
    -webkit-align-items: flex-end;
    -webkit-flex-wrap: wrap;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
#searchform .form-group {
    padding-right: 0;
    width: 100%;
    margin-bottom: 15px;
}
#searchform .form-group > input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ebecf0;
    background: #ebecf0;
    height: 40px;
}
#searchform .form-group label {
    font-weight: 700;
}
.skycolor {
    color: #00c7ae;
}
.listSidebar #searchform {
    display: block;
}
#searchform input[type="submit"] {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    background: #00c7ae;
    border: 1px solid #00c7ae;
    color: #fff;
    padding: 0 15px;
    height: 31px;
    line-height: 31px;
    font-size: 18px;
    cursor: pointer;
    height: 40px;
}
.facebook {
    background: url(/images/fb-bg.png);
    margin: 0 auto;
    padding: 10px 0 20px;
    width: 85%;
}
.head h2,
.left-sect h1,
.offer-sect h2,
.resources h2,
.reup-box > h2 {
    font-family: "Roboto Slab", serif;
    color: #09357a;
    font-weight: 400;
    padding: 1% 0;
}
.offer-sect {
    margin-top: 27px;
    width: 100%;
}
.left-sect {
    padding-right: 20px;
    width: 70%;
    float: left;
}
.left-sect h1 {
    font-size: 45px;
}
.left-sect img {
    max-width: 100%;
    height: auto;
    float: left;
    margin: 0 15px 10px 0;
}
.left-sect p > a {
    color: #468a23;
}
.left-sect.head p > a:hover {
    border-bottom: 1px dashed;
}
.left-sect.head > span {
    padding: 12px 0;
}
.head h2,
.offer-sect h2,
.resources h2,
.reup-box > h2 {
    font-size: 32px;
    font-weight: 500;
}
a.non-hover2 {
    margin: 3px 0 0 !important;
}
.offer-box-title {
    font-size: 1.8em;
}
.offer-box .offer-box-image,
.offer-box-caption,
.offer-box:hover .offer-box-caption,
.offer-box:hover img {
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease;
    -webkit-transition-delay: 0s;
    transition: all 0.5s ease 0s;
}
.offer-box-wrapper {
    margin-top: 20px;
    -webkit-flex-wrap: wrap;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}


/*--accountradio css -- by Anil Kumar*/
.account-radio{
    list-style: none;
    border: solid 1px #f0f2f2;
    padding: 5px;
    border-radius: 50px;
    margin: 15px 0 0;
}
.account-radio .input-radio-div{
    display: inline-block;
    position: relative;
    margin-right: 10px;
}
.account-radio .input-radio-div:last-child{
    margin-right: 0px;
}
.account-radio .input-radio-div input{
    position: absolute;
    top: 10px;
    left: 12px;
}
.account-radio  label{
    color: #373f41;
    padding: 7px 20px 7px 30px;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
}
.account-radio input[type="radio"]:checked + label{
   background-color: #00c7ae;
    color: #fff;
}
.account-radio .input-radio-div:focus,.account-radio .input-radio-div input{
    outline: none;
    border: 0;
}
/*--radio tab end--*/


/*--radio tab css --*/
.radio-tab{
    list-style: none;
    border: solid 1px #f0f2f2;
    padding: 5px;
    border-radius: 50px;
    margin: 15px 0 0;
}
.form-group .radio-tab label{
    margin: 0; 
}
.radio-tab li{
    display: inline-block;
    position: relative;
}
.radio-tab li input{
    position: absolute;
    top: 10px;
    left: 12px;
}
.radio-tab  label{
    color: #373f41;
    padding: 7px 20px 7px 30px;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
}
.radio-tab input[type="radio"]:checked + label{
   background-color: #00c7ae;
    color: #fff;
}


.radio-tab.radio-tab-def{
    border: 0px;
    padding: 0px;
    margin: 0 0 15px
}
.radio-tab.radio-tab-def li input {
    position: relative;
    top: 0;
    left: 0;
}
.radio-tab.radio-tab-def input[type="radio"]:checked + label{
    background: transparent;
    color: #00c7ae;
}
.radio-tab.radio-tab-def input[type="radio"]{
    margin-right:5px;
}
.radio-tab.radio-tab-def label{
    padding: 0px;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 500;
}
/*--radio tab end--*/

/*--accordion css by Anil Kumar--*/
.accordion-sec h2{
    font-size: 20px;
    color: #09357a;
    margin:10px 0 0px;
}
h3.accordion {
  color: #373F41;
  cursor: pointer;
  padding:13px 30px 13px 10px;
  margin:0;
  width: 100%;
  text-align: left;
  font-size: 15px;
  border-bottom: solid 1px #ececec;
  position: relative;
}
h3.accordion:after{
    display: block;
    content: "";
    border: solid black;
    border-width:0 1px 1px 0;
    padding: 3px;
    right: 10px;
    position: absolute;
    top: 21px;
    transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
h3.accordion.active{
background: #e9e9e9;
border-bottom: solid 1px #e9e9e9;
}
h3.accordion.active:after{
transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
ul.circle{
    list-style-type: circle;
    font-size: 14px;
    padding-left: 20px;
}
ul.circle li{
    list-style-type: circle;
    margin-bottom: 5px;
}
.panel {
  padding:10px 30px 0 10px;
  display: block;
  background-color: #F5F5F5;
  overflow: hidden;
  color: #373F41;
  margin-bottom: 2px;
transition: 0.4s;
}
/*--accordion css end--*/

/*--service-group css by Anil Kumar--*/
.service-group{
display:flex;
flex-wrap: wrap;
margin:40px 0 0;
}
.service-group .ser-item{
    flex: 0 0 46%;
    margin:0 30px 30px 0;
    display: flex;
    flex-flow: column;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    padding: 20px;
    border: solid 1px #d9d9d9;
    border-radius: 4px;
    font-size: 14px
}
.service-group .ser-item:hover{
     box-shadow: 0 0 8px rgba(0,0,0,.2);
}
.service-group .ser-item:nth-child(2n){
    margin-right: 0px;
}
.service-group .ser-item h4{
    margin: 10px 0;
    font-size: 16px;
}
.service-group .ser-item p{
    margin: 0px;
}
.ser-item.last-list{
    color: #fff;
    border-color: #00C7AE;
    box-shadow: none;
    box-shadow: none;
    text-align:center;
    text-transform: uppercase;
    padding: 0px;
    position: relative;
}
.ser-item.last-list a{
    position: relative;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00C7AE;
}
.ser-item.last-list a.arrow-part{
    color: #fff;
    background: #00C7AE;

}
.ser-item.last-list img{
    float: none;
    margin: 0px
}
.ser-item.last-list h4{
    margin: 0px;
    font-size:18px;
}
.heading-ft-line{
    text-transform: uppercase;
    color:#373F41!important;
    text-align: center;
    position: relative;
}
.heading-ft-line:before{
    position: absolute;
    display: block;
    content: "";
    width: 50px;
    background: #00C7AE;
    height: 3px;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
}

.head h3.heading-ft-line{
    font-size:22px;
    margin-top: 20px
}
/*--service-group css by Anil Kumar--*/
.errors{
    font-size: 13px;
    color: red;
    margin-top: 3px;
}

.col-half-row{
    display: flex;
}
.col-half{
   flex: 1
}
.col-half:first-child{
  margin-right: 30px;
}

/*--media start here--*/
@media (min-width: 0) {
    .offer-box-wrapper .offer-box {
        width: calc(100% - 0px);
    }
    .offer-box-wrapper .offer-box:nth-child(n) {
        margin-right: 10px;
        margin-top: 20px;
    }
    .offer-box-wrapper .offer-box:nth-child(1n) {
        margin-right: 0;
    }
    .offer-box-wrapper .offer-box:nth-child(-n + 1) {
        margin-top: 0;
    }
}
@media (min-width: 577px) {
    .offer-box-wrapper .offer-box {
        width: calc(50% - 5px);
    }
    .offer-box-wrapper .offer-box:nth-child(n) {
        margin-right: 10px;
        margin-top: 20px;
    }
    .offer-box-wrapper .offer-box:nth-child(2n) {
        margin-right: 0;
    }
    .offer-box-wrapper .offer-box:nth-child(-n + 2) {
        margin-top: 0;
    }

}
@media (min-width: 769px) {
    .offer-box-wrapper .offer-box {
        width: calc(25% - 7.5px);
    }
    .offer-box-wrapper .offer-box:nth-child(n) {
        margin-right: 10px;
        margin-top: 20px;
    }
    .offer-box-wrapper .offer-box:nth-child(4n) {
        margin-right: 0;
    }
    .offer-box-wrapper .offer-box:nth-child(-n + 4) {
        margin-top: 0;
    }
}
.offer-box {
    background: top 40px center no-repeat #eee;
    background-size: cover;
    text-align: center;
    min-height: 420px;
    color: inherit;
}
.offer-box:hover .bottom-to-top,
.offer-box:hover .come-left,
.offer-box:hover .open-down,
.offer-box:hover .open-left,
.offer-box:hover .open-right,
.offer-box:hover .open-up,
.offer-box:hover .top-to-bottom {
    opacity: 1;
}
.offer-box:hover .bottom-to-top {
    bottom: 0;
}
.offer-box h3 {
    font-size: 18px;
    background: #64dce4;
    color: #09357a;
    padding: 10px 0;
    font-weight: 500;
}
.offer-box > img {
    width: 100%;
}
.offer-box-caption {
    background: rgba(255, 255, 255, 0.82);
    opacity: 1;
    padding: 15px 20px 60px;
    position: absolute;
    width: 100%;
}
.offer-box-caption.bottom-to-top {
    min-height: 50%;
    bottom: -10px;
    left: 0;
}
.offer-box-caption.bottom-to-top > p {
    text-align: left;
    margin: 0;
}
#nav > ul > li > a,
.btn,
footer ul {
    text-align: center;
}
.offer-box-caption.bottom-to-top > span {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #00c7ae;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}
.offer-box-caption.bottom-to-top > span:hover {
    background: #00b89f !important;
    border-color: #00b89f #00b89f #00b89f;
}
.media img:hover,
.on-top img:hover {
    opacity: 0.8;
}
.re-bg,
.resources {
    width: 100%;
    margin-top: 10px;
    display: inline-block;
}
#pano {
    width: 100%;
    height: 420px;
}
.re-bg {
    -webkit-align-items: stretch;
    -webkit-flex-wrap: wrap;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    background: #64dce4;
    padding: 12px;
}
@media (min-width: 0) {
    .re-bg .re-box {
        width: calc(100% - 0px);
    }
    .re-bg .re-box:nth-child(n) {
        margin-right: 12px;
        margin-top: 12px;
    }
    .re-bg .re-box:nth-child(1n) {
        margin-right: 0;
    }
    .re-bg .re-box:nth-child(-n + 1) {
        margin-top: 0;
    }
}
@media (min-width: 577px) {
    .re-bg .re-box {
        width: calc(50% - 6px);
    }
    .re-bg .re-box:nth-child(n) {
        margin-right: 12px;
        margin-top: 12px;
    }
    .re-bg .re-box:nth-child(2n) {
        margin-right: 0;
    }
    .re-bg .re-box:nth-child(-n + 2) {
        margin-top: 0;
    }
}
@media (min-width: 769px) {
    .re-bg .re-box {
        width: calc(33.33333% - 8px);
    }
    .re-bg .re-box:nth-child(n) {
        margin-right: 12px;
        margin-top: 12px;
    }
    .re-bg .re-box:nth-child(3n) {
        margin-right: 0;
    }
    .re-bg .re-box:nth-child(-n + 3) {
        margin-top: 0;
    }
}
.re-box {
    background: #ecfdfe;
    padding: 18px;
}
.re-box,
.re-box2 {
    position: relative;
}
.re-box h3,
.re-box2 h3 {
    margin-bottom: 15px;
}
.re-box h3 > a,
.re-box2 h3 > a {
    color: #09357a;
    font-size: 18px;
    border-bottom: 1px dashed #daeacb;
    display: block;
}
.re-box h3 > a:hover,
.re-box2 h3 > a:hover {
    text-decoration: underline;
}
.re-box2 > a,
.re-box > a {
    margin: 0;
    position: absolute;
    bottom: 18px;
    right: 18px;
}
.re-box2 > a:hover,
.re-box > a:hover {
    background: #4f9a29;
}
.re-box2 > p,
.re-box > p {
    margin: 0;
    padding-bottom: 40px;
}
.re-box2 > a,
.re-box > a,
.success-btn {
    color: #fff;
    float: right;
    font-size: 14px;
    margin-top: 12px;
    background: #00c7ae;
    padding: 7px 10px;
}
.re-box2 > a:hover,
.re-box > a:hover,
.success-btn:hover {
    background: #00b89f;
}
.posto > a:hover,
footer ul li a:hover {
    border-bottom: 1px dashed #09357a;
}
.reup {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
.reup-box {
    width: 47%;
    float: left;
}
.pull-right {
    float: right;
}
.five {
    float: left;
    min-height: 105px;
    width: 100px;
}
.posto {
    margin: 15px 0 0;
    min-height: 110px;
}
.posto > a {
    color: #09357a;
    font-size: 17px;
    font-weight: 600;
}
.posto span {
    display: inline-block;
}
.posto span > a {
    color: #468a23;
}
.green,
.posto span {
    color: #468a23;
    font-size: 13px;
    padding: 5px 0;
}
.cust span,
.green,
.posto span,
.rgt > h3,
.update > span {
    font-weight: 400;
}
.city-section,
.list,
.map-section,
footer {
    display: inline-block;
}
.city-section {
    width: 100%;
    margin-top: 20px;
}
.list {
    background: #00e0c2;
    float: left;
    width: calc(100% - 636px);
    height: 100%;
}
.list ul {
    padding: 0;
    height: 100%;
    overflow-y: auto;
}
.update > h3,
.update > p,
.update > span {
    overflow: hidden;
}
.list li {
    margin-left: 20px;
}
.list,
.list2 {
    padding: 15px 20px;
}
.list ul li a,
.list2 ul li a {
    color: #222;
    display: block;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    text-decoration: none;
    padding: 4px 5px;
}
.list ul li a:hover,
.list2 ul li a:hover {
    background: #00a38d;
    color: #fff !important;
}
.map-section {
    width: 67%;
    float: left;
}
.map-section > img,
footer {
    width: 100%;
}
.about p {
    line-height: 28px;
}
footer {
    margin-top: 35px;
}
footer ul {
    margin-top: 15px;
}
footer ul li {
    display: inline-block;
    padding: 0 18px;
    border-right: 1px solid #b4d496;
    margin-bottom: 15px;
}
footer ul li a {
    font-size: 16px;
    color: #09357a;
    text-transform: capitalize;
    display: block;
    border-bottom: 1px dashed transparent;
}
footer ul li:last-child {
    border: none;
}
.copyrights {
    border-top: 2px solid #b4d496;
    padding: 1.5% 0;
    color: #999;
    width: 100%;
}
.copyrights > .container {
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.fb,
.pint,
.twitter {
    height: 28px;
    width: 28px;
}
.links {
    display: inline;
}
.links a {
    color: #999;
    padding: 0 17px;
    border-right: 1px solid #999;
}
.links a:hover {
    color: #78a566;
    text-decoration: underline;
}
.citis,
.fb,
.pint,
.twitter {
    display: inline-block;
    vertical-align: middle;
}
.social-icons > span {
    display: inline-block;
    padding: 8px 7px;
}
.fb {
    background: url(/images/fb.png) no-repeat;
}
.fb:hover {
    background: url(/images/fbh.png) no-repeat;
}
.twitter {
    background: url(/images/twitter.png) no-repeat;
}
.twitter:hover {
    background: url(/images/twitterh.png) no-repeat;
}
.pint {
    background: url(/images/pint.png) no-repeat;
}
.pint:hover {
    background: url(/images/pinth.png) no-repeat;
}
.facebook iframe {
    height: 21px !important;
}
.active {
    border-bottom: 3px solid #b4d496;
    text-decoration: none;
}
.on-top span a,
.share a,
.sidebarList li span a {
    text-decoration: underline;
}
.posto h4 > a {
    color: #468a23;
}
.cust span {
    cursor: pointer;
}
.citis {
    background: #e5f4e7;
    width: 100%;
    height: 310px;
}
.media {
    margin-left: 15px;
}
.child-srch,
.child-srch2 {
    background: #fff;
    border-width: 10px 1px 1px;
    border-color: #63dbe4 #f2f2f2 #f2f2f2;
    border-style: solid;
    padding: 4%;
    width: 100%;
    margin: 3% 0 0;
    display: inline-block;
}
.child-srch {
    background: #cef6e3;
}
.child-srch2 {
    background: #f2fcf3;
}
.form-group {
    width: 40%;
    padding-right: 20px;
}
.form-group label {
    display: inline-block;
    width: 100%;
    margin: 8px 0;
    font-size: 13px;
}
.form-group > input {
    padding: 6px;
    width: 100%;
    border: 1px solid #777;
}
.form-group > input:focus {
    border: 1px solid #4f9a29;
}
.child-srch > h3 {
    font-size: 18px;
    padding: 0 0 5px;
    color: #09357a;
}
.re-bg2,
.re-box2,
.rgt > h3 {
    padding: 12px;
}
.child-srch form input[type="button"]:hover {
    background: #4f9a29;
}
.map-section2,
.up-section {
    display: inline-block;
    width: 100%;
    margin-top: 4%;
}
.update {
    margin: 5px 0 23px;
    width: 100%;
}
.update img {
    float: left;
    margin: 0 15px 10px 0;
}
.update > h3 {
    color: #09357a;
    font-size: 14px;
    border-bottom: 1px solid #b4d496;
}
.update > h3 > a {
    color: #09357a;
    font-size: 14px;
    font-weight: 700;
}
.update > h3 > a:hover {
    border-bottom: 1px dashed #09357a;
}
.update > span {
    color: #468a23;
    font-size: 12px;
    margin: 6px 0;
    display: block;
    font-family: "Roboto Slab", serif;
}
.review {
    float: right;
    color: #ffb400;
    font-size: 18px;
}
.right-sect {
    width: 30%;
    float: right;
}
.social-links {
    width: 100%;
    margin: 0 0 15px;
}
.rgt > h3 {
    font-size: 18px;
}
.re-bg2 {
    background: #63dbe4;
}
.re-box2 {
    background: #ecfdfe;
}
.re-box2:not(:last-child) {
    margin-bottom: 3px;
}
.re-box2 > p {
    padding: 0;
}
.list-section,
.list2,
.re-rgt {
    display: inline-block;
    width: 100%;
}
.list2 {
    background: #b4d496;
    float: left;
}
.list2 li {
    margin-left: 20px;
}
.re-rgt {
    margin: 0 0 15px;
}
.mobile,
.tablet {
    display: none;
}
.map2 > img {
    width: 100%;
}
.drg {
    float: right !important;
}
img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
    margin: 0;
    float: none;
}
.map2 {
    margin-top: 10px;
}
.up-section.head > span {
    padding: 10px 0;
}
.breadcrumbs {
    display: inline-block;
    width: 100%;
    margin: 3% 0 1%;
}
.breadcrumbs ul li {
    display: inline;
}
.breadcrumbs ul li a {
    color: #468a23;
}
.breadcrumbs ul li a.current {
    color: #09357a;
}
.ads-section,
.adv,
.cbyc,
.cities,
.li-ag i,
.li-ag.rgt > a,
.share,
ul.up-section li {
    display: inline-block;
}
.on-top {
    float: right;
    margin: -5px 0 0;
}
.on-top span a {
    color: #999;
}
.on-top span a:hover {
    color: #78a566;
}
.cbyc {
    margin-top: 4%;
    width: 100%;
}
.cities {
    border: 2px solid #63dbe4;
    padding: 30px 0;
    background: #ecfdfe;
}
.cities ul {
    margin-left: 2%;
}
.cities ul li {
    background: url(/images/dot.png) 7px center no-repeat;
    float: left;
    margin: 0 33px 0 0;
    padding: 4px 0 4px 20px;
    width: 24%;
}
.cities ul li a {
    color: #09357a;
}
.cities ul li:hover {
    background: url(/images/dot.png) 7px center no-repeat #64dce4;
}
.cities ul li span {
    color: #087b6d;
    padding-left: 2px;
}
.li-ag {
    margin-left: 12px;
}
.li-ag.rgt > p {
    margin-top: 8px;
}
.li-ag.rgt > a {
    color: #09357a;
}
.li-ag.rgt h3 {
    border-bottom: 2px solid #b4d496;
    padding: 0 0 7px;
}
.li-ag i {
    color: #888;
    font-weight: 400;
}
ul.up-section li {
    margin: 5px 0 23px;
    width: 100%;
}
ul.up-section li h3,
ul.up-section li h3 > a {
    color: #09357a;
    font-size: 14px;
}
ul.up-section li h3 > a {
    font-weight: 700;
}
ul.up-section li img {
    float: left;
    margin-right: 5%;
    margin-bottom: 9%;
}
ul.up-section li > a {
    color: #468a23;
}
.re-box2 > img {
    width: 100%;
}
.tece {
    background: #00e0c2 !important;
}
#nav li ul,
.listSidebar {
    background-color: #daf7f9;
}
.tece .re-box2 > a,
.tece .re-box > a,
.tece .success-btn {
    margin: 17px 13px;
}
.list2.tece > ul {
    padding-bottom: 0;
}
.ads-section {
    margin: 25px 0;
}
.ads-section.re-bg2 > img {
    padding: 0 15px;
    width: 88%;
}
.adv {
    border: 1px solid #b4d496;
    border-radius: 12px;
    padding: 10px;
    width: 96%;
}
.share {
    margin-left: 15px;
}
.share img {
    margin-right: 5px;
    vertical-align: bottom;
}
.share a {
    color: #5977ad;
}
.adv > img {
    width: 100%;
}
#nav {
    margin: 0;
}
#nav li {
    position: relative;
}
#nav li a {
    color: #09357a;
    display: block;
}
#nav li ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
#nav li ul a {
    font-size: 15px;
    border-top: 1px solid #64dce4;
    padding: 0.75em;
}
#nav li:hover ul {
    display: block;
    width: 100%;
}
#nav > ul {
    float: right;
}
#nav > ul > li {
    border-right: 1px solid #39b7bf;
    display: inline-block;
    padding: 0 15px;
}
#nav > ul > li > a {
    height: 100%;
    font-size: 18px;
}
#nav ul li:last-child {
    border: none;
}
#nav li ul li a:hover,
#nav li ul:not(:hover) li.active a {
    color: #559236;
    border-bottom: 0;
}
#nav li ul,
#nav > a {
    display: none;
}
.provider-header-detail .provider-title,
.provider-header-detail .section-title,
h2 {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
}
*,
.left-sect,
.listSidebar,
.provider-main-features,
::after,
::before {
    box-sizing: border-box;
}
.inspections .inspection-a .body:after,
.inspections .inspection-a .heading:after,
.inspections .inspection-b .heading:after,
.inspections .inspection-c .body:after,
.inspections .inspection-c .heading:after,
.provider-details:after {
    clear: both;
}
h2 {
    color: #09357a;
    font-size: 50px;
    padding: 1% 0;
}
.provider-header-detail {
    letter-spacing: 0.5px;
    word-spacing: 1px;
}
.provider-header-detail .heading {
    font-size: 16px;
    margin-bottom: 30px;
}
.provider-header-detail .title-pane {
    position: relative;
    border-bottom: 1px solid #eee;
    padding-right: 170px;
}
.provider-header-detail .title-pane .provider-logo {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
}
.provider-header-detail .provider-title {
    color: #09357a;
    font-size: 40px;
    white-space: normal;
}
.provider-header-detail .provider-subtitle {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
}
.provider-header-detail .title-address {
    margin-bottom: 15px;
    color: #848484;
}
.provider-header-detail .title-rating {
    color: #848484;
    margin-bottom: 20px;
}
.provider-header-detail .title-rating .star {
    color: #ffb400;
    font-size: 16px;
}
.provider-header-detail .title-rating .star:last-child {
    margin-right: 10px;
}
.provider-header-detail .section-title {
    color: #09357a;
    font-size: 40px;
    margin-bottom: 10px;
    padding: 0;
}
.justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.comment {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 0.5rem;
}
.comment:first-child {
    padding-top: 5px;
}
.comment:last-of-type {
    margin-bottom: 20px;
}
.comment-respond {
    margin-top: 15px;
}
.comment-header {
    margin: 10px auto 5px;
}
.comment-header .image {
    max-width: 45px;
}
.comment-header .image img {
    max-width: 100%;
    height: auto;
}
.comment-header .title {
    margin-left: 15px;
    line-height: 1.7em;
}
.comment-header span {
    display: block;
    color: #868e96;
    font-size: 14px;
}
.comment-header strong {
    font-size: 1rem;
    color: #343a40;
}
.comment-header .rate {
    font-size: 16px;
    color: #ffc107;
    list-style: none;
    margin: 0;
    padding: 0;
}
.comment-header .rate li {
    padding: 0;
    margin: 0;
}
.comment-body {
    margin-left: 30px;
    font-size: 1em;
    color: #868e96;
}
.comment-body p {
    line-height: 1.7em;
    margin-bottom: 0.5rem;
}
.list-inline-item {
    display: inline-block;
}
.listSidebar {
    padding: 15px;
    display: block;
    width: 100%;
    margin-bottom: 25px;
}
.listSidebar h3 {
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 0 25px;
    color: #09357a;
}
.listSidebar input:not([type="submit"]) {
    width: 100%;
    max-width: 270px;
}
.btn {
    background-color: #468a23;
    color: #fff;
    padding: 10px 15px;
    font-size: 12px;
    display: inline-block;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.btn:hover {
    background-color: #4d9826;
}
ol {
    margin-left: 15px;
}
ol > li:not(:last-child) {
    padding-bottom: 20px;
}
.sidebarList li {
    display: block;
    width: 100%;
    padding: 17px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sidebarList li:last-child {
    border-bottom: 0;
}
.sidebarList li span a {
    color: #2196f3;
}
.sidebarList.condensed li {
    padding: 14px 0;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.list-address li {
    position: relative;
    padding-left: 33px;
    margin: 17px 0;
    font-size: 14px;
    line-height: 26px;
}
.list-address li:last-child {
    margin-bottom: 0;
}
.list-address li i.zmdi {
    position: absolute;
    left: 0;
    top: 6px;
    color: #468a23;
}
.list-address li a:hover {
    color: #2196f3;
}
.provider-main-features {
    border-radius: 3px;
    display: block;
    list-style: none;
    margin: 0 0 20px;
    border: 1px solid #eee;
}
.provider-main-features li {
    font-size: 14px;
    display: inline-block;
    padding: 8px 20px;
    line-height: 22px;
    width: 100%;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    color: #444;
}
.provider-main-features li:last-child {
    border-bottom: none;
    margin: 0;
}
.provider-main-features li span {
    display: block;
    text-align: left;
}
.provider-main-features li span:first-child {
    color: #777;
    width: 35%;
    float: left;
    padding-right: 30px;
    box-sizing: border-box;
}
.provider-main-features li span:last-child {
    width: 65%;
    float: left;
}
.table,
.table tbody,
.table td,
.table th {
    border-color: #dee2e6;
}
.city-links > a,
.quick-links > a {
    display: inline-block;
    font-size: 12px;
    width: 100%;
}
.table {
    border-collapse: collapse;
    margin-bottom: 25px;
    border-radius: 3px;
}
.city-links > a,
.quick-links > a,
.section-body,
.section-body p:last-child {
    margin-bottom: 10px;
}
.table td,
.table th {
    padding: 0.75rem;
    vertical-align: top;
}
.section-body {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.quick-links > a {
    padding: 7px 10px;
    border: 1px solid #468a23;
    color: #468a23;
    margin-right: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
}
.quick-links > a:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.city-links > a {
    color: #09357a;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.row.no-margin {
    margin-right: 0;
    margin-left: 0;
}
.col-xs-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-sm-4,
.col-sm-6,
.col-xs-12,
.col-xs-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
#map_canvas {
    width: 100%;
    height: 280px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-group-bs {
    margin-bottom: 15px;
}
.form-group-bs label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
input.form-control,
select.form-control {
    height: calc(2.25rem + 2px);
}
.m-t-10 {
    margin-top: 10px;
}
.text-muted {
    color: #848484;
}
.fs-10 {
    font-size: 10px;
}
.fs-12 {
    font-size: 13px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.btn-review {
    width: 100%;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.review-pane {
    margin: 25px 0 0;
}
.review-pane .caption,
.street-view-pane {
    margin-bottom: 10px;
}
#review-section {
    padding-top: 20px;
}
.review-box {
    padding: 20px 15px;
    border: 1px solid #dee2e6;
    border-radius: 3px;
}
.nearby-providers a {
    margin-bottom: 15px;
    display: inline-block;
    color: #09357a;
    border-bottom: 1px solid transparent;
}
.inspections .inspection-a .body:after,
.inspections .inspection-a .body:before,
.inspections .inspection-a .heading:after,
.inspections .inspection-a .heading:before {
    display: table;
    content: " ";
}
.nearby-providers a:hover {
    border-bottom: 1px dashed #09357a;
}
.img-gallery img {
    width: 100%;
    height: 200px;
}
.inspections .inspection-a {
    margin-bottom: 25px;
    background-color: #eef5f9;
    padding: 12px 15px;
}
.inspections .inspection-a .body {
    padding-top: 12px;
}
.inspections .inspection-a .body .caption {
    font-size: 12px;
    opacity: 0.5;
    margin-bottom: 4px;
}
.inspections .inspection-a .body .action,
.inspections .inspection-a .body .date {
    font-size: 16px;
}
.inspections .inspection-a .body .left {
    float: left;
    width: 60%;
    padding-right: 10px;
}
.inspections .inspection-a .body .right {
    float: left;
    width: 40%;
}
.inspections .inspection-a .heading .left,
.inspections .inspection-b .heading .left,
.inspections .inspection-b .heading .right {
    width: 50%;
    float: left;
}
.inspections .inspection-a .heading {
    padding-bottom: 8px;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.inspections .inspection-a .heading .caption {
    color: #498a24;
    margin-right: 5px;
    font-size: 13px;
}
.inspections .inspection-a .heading .type {
    color: #09357a;
    font-weight: 800;
    margin-bottom: 3px;
    display: block;
    font-size: 16px;
}
.inspections .inspection-a .heading .date {
    font-size: 12px;
}
.inspections .inspection-a .heading .right {
    width: 50%;
    float: left;
    text-align: right;
}
.inspections .inspection-a .lbl-status {
    background-color: #468a23;
    padding: 3px 5px 2px;
    color: #fff;
    font-size: 12px;
}
.inspections .inspection-b {
    margin-bottom: 25px;
    background-color: #eef5f9;
    padding: 12px 15px;
}
.inspections .inspection-b .heading {
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.inspections .inspection-b .heading:after,
.inspections .inspection-b .heading:before {
    display: table;
    content: " ";
}
.inspections .inspection-b .heading .caption {
    font-size: 12px;
    opacity: 0.5;
    margin-bottom: 4px;
}
.inspections .inspection-b .heading .dates {
    font-size: 15px;
    padding-right: 20px;
}
.inspections .inspection-b .heading .citations {
    font-size: 15px;
}
.inspections .inspection-b .heading .body {
    padding-top: 10px;
    font-size: 14px;
    opacity: 0.7;
}
.inspections .inspection-timeline {
    margin-bottom: 25px;
    background-color: #eef5f9;
    padding: 15px;
}
.inspections .inspection-timeline .caption {
    font-size: 14px;
    opacity: 0.5;
    margin-bottom: 7px;
}
.inspections .inspection-timeline .caption ul {
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
}
.inspections .inspection-timeline .caption ul > li > a {
    color: #09357a;
    border-bottom: 1px solid transparent;
    display: inline-block;
    margin: 7px 0;
    position: relative;
}
.inspections .inspection-timeline .caption ul > li > a:before {
    content: "\f26f";
    font: normal normal normal 14px/1 Material-Design-Iconic-Font;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: -20px;
    top: 1px;
    font-size: 14px;
    color: #468a23;
    opacity: 0.6;
}
.inspections .inspection-timeline .caption ul > li > a:hover {
    color: #09357a;
    border-bottom: 1px dashed #09357a;
    cursor: pointer;
}
.inspections .inspection-timeline .caption ul > li:not(:last-child) > a:after {
    content: " ";
    width: 1px;
    position: absolute;
    height: 19px;
    background-color: #468a23;
    opacity: 0.6;
    left: -15px;
    top: 14px;
}
.inspections .inspection-c {
    margin-bottom: 25px;
    background-color: #eef5f9;
    padding: 12px 15px;
}
.inspections .inspection-c .heading {
    padding-bottom: 8px;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.inspections .inspection-c .heading:after,
.inspections .inspection-c .heading:before {
    display: table;
    content: " ";
}
.inspections .inspection-c .heading .caption {
    font-size: 12px;
    opacity: 0.5;
    margin-bottom: 4px;
}
.inspections .inspection-c .heading .type {
    color: #09357a;
    font-weight: 800;
    margin-bottom: 3px;
    display: block;
    font-size: 16px;
}
.inspections .inspection-c .body:after,
.inspections .inspection-c .body:before,
.provider-details:after,
.provider-details:before {
    display: table;
    content: " ";
}
.inspections .inspection-c .heading .date {
    font-size: 15px;
    padding-right: 20px;
}
.inspections .inspection-c .heading .left {
    width: 40%;
    float: left;
}
.inspections .inspection-c .heading .right {
    width: 60%;
    float: left;
    text-align: right;
}
.inspections .inspection-c .lbl-score {
    background-color: #468a23;
    padding: 3px 5px 2px;
    color: #fff;
    font-size: 14px;
    font-weight: 800;
}
.inspections .inspection-c .caption-score {
    font-size: 14px;
    opacity: 0.7;
    margin-right: 5px;
}
.inspections .inspection-c .body {
    padding-top: 12px;
}
.inspections .inspection-c .body .caption {
    font-size: 12px;
    opacity: 0.5;
    margin-bottom: 4px;
}
.inspections .inspection-c .body .action,
.inspections .inspection-c .body .date {
    font-size: 16px;
}
.inspections .inspection-c .body .left {
    float: left;
    width: 50%;
    padding-right: 10px;
}
.inspections .inspection-c .body .right {
    float: left;
    width: 50%;
}
.inspections .info-block {
    border: 1px solid #eef5f9;
    padding: 20px 20px 5px;
    margin-bottom: 25px;
    color: #888;
}
.inspections .info-block .info {
    margin-bottom: 10px;
    line-height: 18px;
}
.inspections .info-block .info .caption {
    color: #000;
    margin-bottom: 5px;
    font-weight: 800;
}
.inspections .info-block .info .note {
    font-size: 11px;
    color: #aaa;
}
.declaimer-pane {
    margin: 25px 0 0;
}
.provider-details,
hr {
    margin-top: 20px;
}
.declaimer-pane .caption {
    margin-bottom: 10px;
}
hr {
    margin-bottom: 20px;
    border-width: 1px 0 0;
    border-color: #eee;
    border-style: solid;
}
.header-bg {
    margin-bottom: 25px;
    background: #eef5f9;
}
table.g-inspections {
    border-collapse: collapse;
    margin-bottom: 25px;
    width: 100%;
}
table.g-inspections td,
table.g-inspections th {
    border: 1px solid #afd0e3;
    margin: 0;
    padding: 8px;
    vertical-align: text-top;
}
table.g-inspections > thead > tr > th {
    background-color: #d5e6f0;
}
table.g-inspections > tbody > tr > td {
    background-color: #fbfcfd;
}
table.g-inspections .divider {
    border: none;
    background-color: transparent;
    padding: 5px;
}
@media (max-width: 991px) {
    .drg,
    .list {
        float: none;
    }
    .nav {
        width: 70%;
    }
    .citis {
        display: block;
        width: 100%;
        max-width: 636px;
        margin: 0 auto;
        height: auto;
    }
    .list {
        width: 100%;
    }
    .offer-box-caption.bottom-to-top {
        min-height: 60%;
    }
}
@media (max-width: 767px) {
    #nav > ul,
    .left-sect {
        float: none;
    }
    .offer-box-caption.bottom-to-top {
        min-height: 50%;
    }
    .nav ul li a {
        font-size: 17px;
    }
    .ads-section.re-bg2 > img {
        width: auto;
    }
    .left-half > iframe,
    .logo,
    .nav {
        width: 100%;
    }
    .header,
    .nav,
    .right-half {
        text-align: center;
    }
    .header {
        height: auto;
    }
    .header > .container {
        display: block;
    }
    .nav {
        margin: 20px 0 25px;
    }
    .logo {
        margin-top: 30px;
    }
    .logo img {
        width: auto;
        max-width: 100%;
    }
    .offer-box h2 {
        font-size: 13px;
    }
    .head h1,
    .offer-sect h1,
    .resources h1,
    .reup-box > h1 {
        font-size: 38px;
    }
    .five {
        min-height: 124px;
        width: 65px;
    }
    .left-sect {
        width: 100%;
        padding: 0;
    }
    .right-sect {
        float: none;
        width: 100%;
        margin-top: 30px;
    }
    .hidden {
        display: none;
    }
    .media {
        display: inline-block;
        float: left;
        margin-right: 3%;
    }
    .tablet {
        display: block;
    } 
    .hidden-xs {
        display: none;
    }
    .banner h1 {
        font-size: 40px
        } /*--add new css by Anil Kumar--*/

    .left-half,
    .map-view,
    .street-map,
    .street-map > iframe {
        width: 100%;
    }
    .right-half {
        float: none;
        margin: auto;
        width: 100%;
    }
    .banner {
        height: 300px;
    }
    .bttm {
        top: 130px;
    }
    .provider-header-detail .title-pane {
        text-align: center;
        padding-right: 0;
    }
    .inspections .info-block .info {
        margin-bottom: 20px;
    }
    .provider-header-detail .title-pane .provider-logo {
        position: static;
    }
}
@media (max-width: 575px) {
    /*--add css by Anil Kumar--*/
.service-group .ser-item {
    flex: 0 0 46%
    } 
      /*--add css by Anil Kumar--*/

    #nav:not(:target) > a:first-of-type,
    #nav:target > a:last-of-type,
    #nav:target > ul,
    .nav-mobile {
        display: block;
    }
    #nav > ul > li,
    .address > img {
        float: none;
    }
    .nav-mobile select {
        background: #09357a;
        color: #fff;
        font-size: 18px;
        margin: 10px 0;
        padding: 6px 0;
        text-align: center;
        width: 50%;
    }
    .ads-section {
        text-align: center;
    }
    #nav li ul,
    #nav > a,
    #nav > ul > li > a {
        text-align: left;
    }
    .logo {
        margin: 50px 0 10px;
    }
    #nav,
    #nav > ul,
    .nav {
        margin: 0;
    }
    .nav {
        white-space: normal;
    }
    #nav {
        width: 100%;
        position: static;
    }
    #nav > a {
        position: absolute;
        top: 0;
        left: 10px;
        width: 3.125em;
        height: 3.125em;
        text-indent: -9999px;
        background: url(/images/mobile-btn.png) no-repeat;
    }
    #nav > ul > li,
    .list,
    .map-section,
    .reup-box {
        width: 100%;
    }
    #nav > a:after {
        top: 60%;
    }
    #nav > ul {
        position: relative;
        height: auto;
        display: none;
        left: 0;
        right: 0;
        padding-bottom: 10px;
    }
    #nav > ul > li {
        display: block;
        padding: 0 !important;
        border-right: none !important;
    }
    #nav > ul > li > a {
        height: auto;
        padding: 8px 0;
    }
    #nav > ul > li:not(:last-child) > a {
        border-right: none;
        border-bottom: 1px solid #468a23;
    }
    #nav li ul {
        padding: 0 !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        display: block;
        position: static;
    }
    body {
        overflow-x: hidden;
    }
    .facebook {
        width: 85%;
        padding: 9px 0 9px 1px;
    }
    .facebook > img {
        width: 100%;
    }
    .form-group {
        width: 100%;
        padding: 0;
        margin-bottom: 15px;
    }
    .child-srch form input[type="button"] {
        margin-top: 15px;
    }
    .drg {
        display: none;
    }
    .cities ul li {
        margin: 0;
        width: 42%;
    }
    .cities,
    .up-section {
        text-align: justify;
    }
    .update > span {
        display: inline;
    }
    .on-top {
        margin: 12px 0 0;
        text-align: center;
        width: 100%;
    }
    .sch-cont > p {
        text-align: left;
    }
    .swipebox > img {
        margin: 5px;
    }
    .countyads {
        float: left;
        margin: 0;
    }
    ul.tabs li {
        font-size: 13px;
    }
    .list ul li a,
    .list2 ul li a {
        padding: 10px 5px;
    }
    .copyrights {
        padding: 10px 0;
    }
    .copyrights .nhv,
    .copyrights .social-icons {
        width: 100%;
        text-align: center;
    }
    .copyrights .nhv {
        margin-bottom: 15px;
    }
   
    .update img {
        max-width: 100px;
    }
    #type-element label {
        display: block;
    }
    #type-element label:first-child {
        margin: 0 0 10px;
    }
    .form-action-row {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    .form-action-row__submit-container {
        margin-top: 15px;
    }
    .provider-main-features li > span:first-child,
    .provider-main-features li > span:last-child {
        float: none;
        width: 100%;
    }
    .provider-main-features li > span:first-child {
        padding: 0;
    }
    .comment-body {
        margin-left: 10px;
    }
}
@media screen and (max-width: 576px), screen and (max-height: 40em) {
    #ad,
    #meta {
        display: none;
    }
}
@media (min-width: 768px) {
    .hidden-sm {
        display: none;
    }
}
@media (min-width: 576px) {
    .col-sm-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.66667%;
    }
    .col-sm-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.33333%;
    }
    .col-sm-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.33333%;
    }
    .child-srch .form-group-bs {
        margin-bottom: 0;
    }
}
@media (max-width: 1220px) {
    .banner {
        height: auto; /*--replace by Anil Kumar--*/
        padding-bottom:60px; /*--add new css by Anil Kumar--*/
    }
    .bttm {
        top: 0px; /*--replace by Anil Kumar--*/
    }
    .banner h1{
        padding:30px 0;
    }
}
@media (max-width: 1024px) {
    .banner {
        background-position: -520px 0; /*--replace by Anil Kumar--*/
    }
}
@media (max-width: 980px) {
    #tabsholder {
        max-width: 58%;
    }
    .banner {
        background-position: -580px 0;
    }
    .bgf {
        padding: 20px;
    }
    #nav > ul > li > a {
        font-size: 14px;
    }
}
@media (max-width: 860px) {
    .banner {
        background-position: -660px 0;
    }
     .bgf {
    padding: 10px;
    }
}
@media (max-width: 760px) {
    .banner {
        background-position: -720px 0;
    }
     #tabsholder {
        max-width: 59%;
    }
}
@media (max-width: 680px) {
        .banner {
            background-position: -870px 0;
        }
    }
 @media (max-width: 640px) {
            #tabsholder {
                max-width: 100%;
            }
            .banner {
                background-position: right 0;
            }
            /*--add css by Anil Kumar--*/
            #tabsholder{
            padding: 10px;
            }
        .bgf {
        padding:0px;
        }
        
   }
@media (max-width:480px) {
    .banner{
        padding-bottom: 40px;
    }
  .banner h1{
    font-size:28px;
    padding:30px 0 20px;
  } 
  .service-group .ser-item {
    flex: 0 0 100%;
    margin-right: 0px;
} 

    .ser-item.last-list a{
padding: 25px 0
    }
    /*--accountradio css -- by Anil Kumar*/
    .account-radio {
        border-radius: 0px;
    }
.account-radio .input-radio-div{
display: block;
}
}
