@import '../amp-kernel';

.header,
.logo {
    display: inline-block;
    
    amp-img{
        max-width: 383px;
        margin: 0 auto;
    }
}

.banner,
.header,
.login {
    position: relative
}

.banner h1,
body {
    font-weight: 400
}

.breadcrumbs ul,
.cities ul,
.nav ul,
footer ul,
ul.list li,
ul.tabs li {
    list-style-type: none
}

* {
    margin: 0;
    padding: 0
}

::-moz-placeholder {
    color: #ccc;
    font-size: 18px
}

a {
    text-decoration: none;
	@include transition(all .2s ease-in-out 0s);
}

p {
    line-height: 20px;
    margin: 0 0 20px
}

img {
    border: none
}

body {
    background: #fff;
    color: #222;
    font-family: trebuchet_msregular;
    font-size: 13px
}

.container {
	position: relative;
	width: 100%;
    max-width: 1020px;
    margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.header {
    width: 100%;
    padding: 5px 0;
    border-bottom: 2px solid #b4d496;
    background: #95C5F6;
	height: 120px;
	
	> .container{
		//@extend .clearfix;
		height: 100%;
		@include flexbox((
			display: flex,        
			align-items: center
		));
	}
}

.logo {	
    width: 38%;	
}

.nav {
    @include flex-grow(1);
	margin: 10px 0 0 10px;
	white-space: nowrap;
}

.login {
	position: absolute;
	top: 0;
	right: 10px;

	a {
		display: inline-block;
		background: #B4D496;
		color: #000;
		margin: 0 4px;
		padding: 7px 14px;
		
		&:hover{
			color: #fff;
			text-decoration: none;
			background: #4f9a29
		}
	}
}

.banner,
.logo img {
    width: 100%;
	height: auto;
}

.nav ul li {
	&:last-child {
		padding-right: 0;
		//border: none
	}
	
	a:hover {
		//border-bottom: 3px solid #b4d496;
		text-decoration: none
	}
}

.facebook {
    background: url(/images/fb-bg.png) rgba(0, 0, 0, 0);
    margin: 0 auto;
    padding: 10px 0 20px;
    width: 85%
}

.head h2,
.left-sect h1,
.offer-sect h2,
.resources h2,
.reup-box>h2 {
    font-family: freestyle_scriptregular;
    color: #09357a;
    font-weight: 400;
    padding: 1% 0
}

.left-sect{
	text-align: left;
	padding-right: 20px;
	width: 70%;
    float: left;

	h1 {
		font-size: 50px
	}
	
	img {
		max-width: 100%;
		height: auto;
		float: left;
		margin: 0 15px 10px 0;
	}
	
	p > a {
		color: #468a23
	}
	
	&.head{
		p > a:hover {
			border-bottom: 1px dashed
		}
	
		> span {
			padding: 12px 0
		}
	}
} 

.head h2,
.offer-sect h2,
.resources h2,
.reup-box>h2 {
    font-size: 40px
}

#pano,
.offer-box,
.on-top,
.social-icons {
    position: relative
}

.media img:hover,
.on-top img:hover {
    opacity: .8
}

.success-btn {
	color: #FFF;
    float: right;
    font-size: 12px;
    background: #468A23;    
    margin-top: 7px;
    padding: 7px 10px;
	
	&:hover{
		background: #4f9a29;
	}
}

.posto>a:hover,
footer ul li a:hover {
    border-bottom: 1px dashed #09357A;
}

.pull-right {
    float: right
}

.five {
    float: left;
    min-height: 105px;
    width: 100px
}

.green{
    color: #468A23;
    font-size: 12px;
    padding: 5px 0
}

.cust span,
.green,
.posto span,
.rgt>h3,
.update>span {
    font-weight: 400
}

.city-section,
.list,
.map-section,
footer {
    display: inline-block
}

footer {
    width: 100%;
    margin-top: 35px;
	
	ul {
		text-align: center;
		margin-top: 15px;
		
		li {
			display: inline-block;
			padding: 0 18px;
			border-right: 1px solid #B4D496;
			margin-bottom: 15px;
			
			a {
				font-size: 15px;
				color: #09357a;
				text-transform: capitalize;
				display: block;
				border-bottom: 1px dashed transparent;
			}
			
			&:last-child{
				border: none;
			}
		}
	}
}

.copyrights {
    border-top: 2px solid #b4d496;
    padding: 1.5% 0;
    color: #999;
    width: 100%;

	> .container{
		@include flexbox((
			display: flex,        
			justify-content: space-between,
			align-items: center,
			flex-wrap: wrap
		));
	}
}

.fb,
.pint,
.twitter {
    height: 28px;
    width: 28px
}

.links {
    display: inline;
	
	a {
		color: #999;
		padding: 0 17px;
		border-right: 1px solid #999;
		
		&:hover {
			color: #78a566;
			text-decoration: underline;
		}
	}
}

.citis,
.fb,
.pint,
.twitter {
    display: inline-block;
	vertical-align: middle;
}

.social-icons > span {
    display: inline-block;
    padding: 8px 7px;
	vertical-align: middle;
}

.fb {
    background: url(/images/fb.png) no-repeat rgba(0, 0, 0, 0);
	
	&:hover{
		background: url(/images/fbh.png) no-repeat rgba(0, 0, 0, 0);
	}
}

.twitter {
    background: url(/images/twitter.png) no-repeat rgba(0, 0, 0, 0);
	
	&:hover {
		background: url(/images/twitterh.png) no-repeat rgba(0, 0, 0, 0)
	}
}

.pint {
    background: url(/images/pint.png) no-repeat rgba(0, 0, 0, 0);
	
	&:hover {
		background: url(/images/pinth.png) no-repeat rgba(0, 0, 0, 0)
	}
}

html body .facebook iframe {
    height: 21px
}

.media {
    margin-left: 15px
}

.review {
    float: right;
    color: #ffb400;
    font-size: 18px
}

.right-sect {
    width: 30%;
    float: right;	
}

.social-links {
    width: 100%;
    margin: 0 0 15px
}

.breadcrumbs {
    display: inline-block;
    width: 100%;
    margin: 3% 0 1%;
	
	ul li {
		display: inline;
		
		a {
			color: #468a23;
			
			&.current{
				color: #09357a;
			}
		}
	}
}

.ads-section,
.adv,
.cbyc,
.cities,
.li-ag i,
.li-ag.rgt>a,
.share,
ul.up-section li {
    display: inline-block
}

#nav {
    margin: 0;	
	
	li {
		position: relative;
		
		a {
			color: #09357A;
			display: block
		}
		
		ul {
			background-color: #daeacb;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 9;
			border-radius: 0 0 10px 10px;
			box-shadow: 0 2px 2px 2px #D5D5D5;
			
			a {
				font-size: 13px;
				border-top: 1px solid #468A23;
				padding: .75em;
			}
		}
		
		&:hover ul {
			display: block;
			width: 100%
		}
	}
	
	> ul {
		//height: 3.75em;
		//text-align: right;
		float: right;
		
		> li{
			border-right: 1px solid #B4D496;
			display: inline-block;
			padding: 0 15px;
			
			> a{
				height: 100%;
				font-size: 18px;
				text-align: center;
			}
		}
	}
	
	ul {
		li{
			&:last-child {
				border: none;
				//padding-right: 0
			}
		}
	}
	
	li ul li a:hover,
	li ul:not(:hover) li.active a {
		color: #559236;
		border-bottom: 0
	}
	
	li ul,
	> a {
		display: none
	}
}

.provider-header-detail .provider-title,
.provider-header-detail .section-title,
h2 {
    font-family: freestyle_scriptregular;
    font-weight: 400
}

*,
.left-sect,
.listSidebar,
.provider-main-features,
::after,
::before {
    box-sizing: border-box
}

.inspections .inspection-a .body:after,
.inspections .inspection-a .heading:after,
.inspections .inspection-b .heading:after,
.inspections .inspection-c .body:after,
.inspections .inspection-c .heading:after,
.provider-details:after {
    clear: both
}

h2 {
    color: #09357a;
    font-size: 50px;
    padding: 1% 0
}

.provider-header-detail {
    letter-spacing: .5px;
    word-spacing: 1px;
	
	.heading {
		font-size: 16px;
		margin-bottom: 30px;
	}
	
	.title-pane {
		position: relative;
		border-bottom: 1px solid #eee;
		padding-right: 170px;
		
		.provider-logo {
			position: absolute;
			right: 0;
			top: 0;
			width: 150px;
		}
	}
	
	.provider-title {
		color: #09357a;
		font-size: 45px;
		white-space: normal;
	}
	
	.provider-subtitle {
		font-weight: 400;
		font-size: 15px;
		margin-bottom: 10px;
	}
	
	.title-address {
		margin-bottom: 15px;
		color: #848484;
	}
	
	.title-rating {
		color: #848484;
		margin-bottom: 20px;
		
		.fa {
			color: #ffb400;
			font-size: 16px;
			
			&:last-child {
				margin-right: 10px;
			}
		}
	}
	
	.section-title {
		color: #09357a;
		font-size: 40px;
		margin-bottom: 10px;
		padding: 0
	}
}

html body .justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

html body .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.comment {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: .5rem;
	
	&:first-child{
		padding-top: 5px;
	}
	
	&:last-of-type {
		margin-bottom: 20px;
	}
    
    &-respond{
        margin-top: 15px;
    }
	
	&-header {
		margin: 10px auto 5px;
		
		.image {
			max-width: 45px;
			
			img {
				max-width: 100%;
				height: auto;
			}
		}
		
		.title {
			margin-left: 15px;
			line-height: 1.7em
		}
		
		span {
			display: block;
			color: #868e96;
			font-size: 14px
		}
		
		strong {
			font-size: 1rem;
			color: #343a40
		}
		
		.rate {
			font-size: 16px;
			color: #ffc107;
			list-style: none;
			margin: 0;
			padding: 0;
			
			li {
				padding: 0;
				margin: 0
			}
		}
	}
	
	&-body{
		margin-left: 30px;
		font-size: 1em;
		color: #868e96;
		
		p {
			line-height: 1.7em;
			margin-bottom: .5rem
		}
	}
}

.list-inline-item {
    display: inline-block
}

.listSidebar {
    padding: 15px; 
    display: block;
    width: 100%;
    margin-bottom: 25px;
    background-color: #daeacb;
	
	h3 {
		font-weight: 400;
		font-size: 16px;
		text-transform: capitalize;
		margin: 0 0 25px;
		color: #09357a;
	}
	
	input:not([type="submit"]){
		width: 100%;
		max-width: 270px;
	}
}

.btn {
    background-color: #468A23;
    color: #FFF;
    padding: 10px 15px;
    font-size: 12px;
    display: inline-block;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
	
	&:hover{
		background-color: #4d9826;
	}
}

ol {
    margin-left: 15px;
	
	> li:not(:last-child) {
		padding-bottom: 20px
	}
}

.sidebarList{
	li {
		display: block;
		width: 100%;
		padding: 17px 0;
		border-bottom: 1px solid rgba(0, 0, 0, .1);
		
		&:last-child {
			border-bottom: 0
		}
		
		span a {
			color: #2196f3;
			text-decoration: underline
		}
	}
	
	&.condensed li {
		padding: 14px 0
	}
}

.list-unstyled {
    padding-left: 0;
    list-style: none
}

.list-address{ 
	li {
		position: relative;
		padding-left: 33px;
		margin: 17px 0;
		font-size: 14px;
		line-height: 26px;
		
		&:last-child {
			margin-bottom: 0
		}
		
		i.fa {
			position: absolute;
			left: 0;
			top: 6px;
			color: #468A23
		}
		
		a:hover {
			color: #2196f3
		}
	}
}

.provider-main-features {
    border-radius: 3px;
    display: block;
    list-style: none;
    margin: 0 0 20px;
    border: 1px solid #eee;
	
	li {
		font-size: 14px;
		display: inline-block;
		padding: 8px 20px;
		line-height: 22px;
		width: 100%;
		border-bottom: 1px solid #eee;
		box-sizing: border-box;
		color: #444;
		
		&:last-child {
			border-bottom: none;
			margin: 0
		}
		
		span {
			display: block;
			text-align: left;
			
			&:first-child {
				color: #777;
				width: 35%;
				float: left;
				padding-right: 30px;
				box-sizing: border-box;
			}
			
			&:last-child{
				width: 65%;
				float: left;
			}
		}
	}
}

.table,
.table tbody,
.table td,
.table th {
    border-color: #dee2e6
}

.city-links>a,
.quick-links>a {
    display: inline-block;
    font-size: 12px;
    width: 100%
}

.table {
    border-collapse: collapse;
    margin-bottom: 25px;
    border-radius: 3px
}

.city-links>a,
.quick-links>a,
.section-body,
.section-body p:last-child {
    margin-bottom: 10px
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top
}

.section-body {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee
}

.quick-links>a {
    padding: 7px 10px;
    border: 1px solid #468A23;
    color: #468A23;
    margin-right: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .6);
    text-align: center;
	
	&:hover {
		background-color: rgba(255, 255, 255, .8)
	}
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px
}

.row.no-margin {
    margin-right: 0;
    margin-lefT: 0
}

.col-xs-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.col-sm-4,
.col-sm-6,
.col-xs-12,
.col-xs-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px
}

.col-xs-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.m-t-10 {
    margin-top: 10px
}

.text-muted {
    color: #848484
}

.fs-10 {
    font-size: 10px
}

.fs-12 {
    font-size: 12px
}

.m-b-10 {
    margin-bottom: 10px
}

.btn-review {
    width: 100%;
    margin-bottom: 30px;
    text-transform: uppercase
}

.review-pane {
    margin: 25px 0 0
}

.review-pane .caption,
.street-view-pane {
    margin-bottom: 10px
}

#review-section {
    padding-top: 20px
}

.review-box {
    padding: 20px 15px;
    border: 1px solid #dee2e6;
    border-radius: 3px
}

.nearby-providers a {
    margin-bottom: 15px;
    display: inline-block;
    color: #09357A;
    border-bottom: 1px solid transparent
}

.nearby-providers a:hover {
    border-bottom: 1px dashed #09357A
}

.img-gallery img {
    width: 100%;
    height: 200px
}

.inspections{
	.inspection-a{
		margin-bottom: 25px;
		background-color: #eef5f9;
		padding: 12px 15px;
		
		.body{
			padding-top: 12px;
			
			&:after, &:before{
				display: table;
				content: " ";
			}
			
			.caption {
				font-size: 12px;
				opacity: .5;
				margin-bottom: 4px
			}
			
			.action, .date {
				font-size: 16px
			}
			
			.left {
				float: left;
				width: 60%;
				padding-right: 10px
			}
			
			.right {
				float: left;
				width: 40%
			}
		}
		
		.heading{
			padding-bottom: 8px;
			margin-bottom: 0;
			border-bottom: 1px solid rgba(0, 0, 0, .1);
			
			&:after, &:before{
				display: table;
				content: " ";
			}
			
			.caption {
				color: #498A24;
				margin-right: 5px;
				font-size: 13px;
			}
			
			.type {
				color: #09357a;
				font-weight: 800;
				margin-bottom: 3px;
				display: block;
				font-size: 16px;
			}
			
			.date {
				font-size: 12px
			}
			
			.left {
				width: 50%;
				float: left
			}
			
			.right {
				width: 50%;
				float: left;
				text-align: right
			}
		}
		
		.lbl-status {
			background-color: #468A23;
			padding: 3px 5px 2px;
			color: #fff;
			font-size: 12px;
		}
	}
	
	.inspection-b{
		margin-bottom: 25px;
		background-color: #eef5f9;
		padding: 12px 15px;
		
		.heading{
			padding-bottom: 8px;
			border-bottom: 1px solid rgba(0, 0, 0, .1);
			
			&:after, &:before{
				display: table;
				content: " ";
			}
			
			.caption {
				font-size: 12px;
				opacity: .5;
				margin-bottom: 4px
			}
			
			.dates {
				font-size: 15px;
				padding-right: 20px
			}
			
			.citations {
				font-size: 15px
			}
			
			.left {
				float: left;
				width: 50%
			}
			
			.right {
				float: left;
				width: 50%
			}
			
			.body {
				padding-top: 10px;
				font-size: 14px;
				opacity: .7
			}
		}
	}
	
	.inspection-timeline {
		margin-bottom: 25px;
		background-color: #eef5f9;
		padding: 15px;
		
		.caption {
			font-size: 14px;
			opacity: .5;
			margin-bottom: 7px;
			
			ul {
				list-style: none;
				margin: 0 0 0 20px;
				padding: 0;
				
				> li {
					> a {
						color: #09357A;
						border-bottom: 1px solid transparent;
						display: inline-block;
						margin: 7px 0;
						position: relative;
						
						&:before {
							content: '\f26f';
							font: normal normal normal 14px/1 Material-Design-Iconic-Font;
							text-rendering: auto;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
							position: absolute;
							left: -20px;
							top: 1px;
							font-size: 14px;
							color: #468A23;
							opacity: .6
						}
						
						&:hover {
							color: #09357A;
							border-bottom: 1px dashed #09357A;
							cursor: pointer
						}
					}
					
					&:not(:last-child)>a:after {
						content: ' ';
						width: 1px;
						position: absolute;
						height: 19px;
						background-color: #468A23;
						opacity: .6;
						left: -15px;
						top: 14px
					}
				}
			}
		}
	}
	
	.inspection-c{
		margin-bottom: 25px;
		background-color: #eef5f9;
		padding: 12px 15px;
		
		.heading{
			padding-bottom: 8px;
			margin-bottom: 0;
			border-bottom: 1px solid rgba(0, 0, 0, .1);
			
			&:after, &:before{
				display: table;
				content: " ";
			}
			
			.caption {
				font-size: 12px;
				opacity: .5;
				margin-bottom: 4px
			}
			
			.type {
				color: #09357a;
				font-weight: 800;
				margin-bottom: 3px;
				display: block;
				font-size: 16px
			}
			
			.date {
				font-size: 15px;
				padding-right: 20px
			}
			
			.left {
				width: 40%;
				float: left
			}
			
			.right {
				width: 60%;
				float: left;
				text-align: right
			}
		}
		
		.lbl-score {
			background-color: #468A23;
			padding: 3px 5px 2px;
			color: #fff;
			font-size: 14px;
			font-weight: 800
		}
		
		.caption-score {
			font-size: 14px;
			opacity: .7;
			margin-right: 5px
		}
		
		.body{
			padding-top: 12px;
			
			&:after, &:before{
				display: table;
				content: " ";
			}
			
			.caption {
				font-size: 12px;
				opacity: .5;
				margin-bottom: 4px
			}
			
			.action, .date {
				font-size: 16px
			}
			
			.left {
				float: left;
				width: 50%;
				padding-right: 10px
			}
			
			.right {
				float: left;
				width: 50%
			}
		}
	}
	
	.info-block {
		border: 1px solid #eef5f9;
		padding: 20px 20px 5px;
		margin-bottom: 25px;
		color: #888;
		
		.info {
			margin-bottom: 10px;
			line-height: 18px;
			
			.caption {
				color: #000;
				margin-bottom: 5px;
				font-weight: 800
			}
			
			.note {
				font-size: 11px;
				color: #aaa
			}
		}
	}
} 

.provider-details:after,
.provider-details:before {
    display: table;
    content: " "
}

.provider-details,
hr {
    margin-top: 20px
}

hr {
    margin-bottom: 20px;
    border-width: 1px 0 0;
    border-color: #eee;
    border-style: solid
}

.header-bg {
    margin-bottom: 25px;
    background: #eef5f9
}

table.g-inspections {
    border-collapse: collapse;
    margin-bottom: 25px;
    width: 100%;
	
	th, td{
		border: 1px solid #afd0e3;
		margin: 0;
		padding: 8px;
		vertical-align: text-top;
	}
	
	> thead > tr > th{
		background-color: #d5e6f0;
	}
	
	> tbody > tr > td{
		background-color: #fbfcfd;
	}
	
	.divider {
		border: none;
		background-color: transparent;
		padding: 5px
	}
}

// ============================================================
// @MEDIA
// ============================================================

// < 992px
@include media('<lg') {   
	.nav{
		width: 70%;
	}	
}

// < 768px
@include media('<md') {	
    .nav ul li a {
        font-size: 17px
    }                
    .header,
    .nav,
    .right-half {
        text-align: center
    }
	.header{
		height: auto;		
		> .container{
			display: block;
		}
	} 
    .nav {
        width: 100%;
		margin: 40px 0 35px;
    }
    .logo{
		width: 100%;
		margin-top: 30px;
		img {
			width: auto;
			max-width: 100%;
		}
	} 
	#nav > ul{
		float: none;
	}        
    .head h1,
    .offer-sect h1,
    .resources h1,
    .reup-box>h1 {
        font-size: 38px
    }    
    .left-sect {
		float: none;
        width: 100%;
		padding: 0;
    }
    .right-sect {
        float: none;
        width: 100%;
		margin-top: 30px;
    }
    .hidden {
        display: none
    }
    .tablet {
        display: block
    }
    .left-half,
    .map-view,
    .street-map,
    .street-map>iframe {
        width: 100%
    }
    .right-half {
        float: none;
        margin: auto;
        width: 100%
    }    
	.provider-header-detail .title-pane {
        text-align: center
    }
	.hidden-xs {
        display: none
    }
	.inspections .info-block .info {
        margin-bottom: 20px
    }
	.provider-header-detail {
		.title-pane{
			padding-right: 0;
			.provider-logo{
				position: relative;
                margin: auto;
			}
		}		
	}
}

// < 576px
@include media('<sm') {	 
    .facebook {
        width: 80%
    }
	.logo{
		margin: 50px 0 10px;
	}
    .nav {
        margin: 0;        
		white-space: normal;
    } 

	#nav {
        width: 100%;
        position: static;
        margin: 0;				
		
		> a{
			position: absolute;
			top: 0;
			left: 10px;
			width: 3.125em;
			height: 3.125em;
			text-align: left;
			text-indent: -9999px;
			background: url(/images/mobile-btn.png) no-repeat;
			
			&:after{
				top: 60%;
			}
		}
		
		&:not(:target)>a:first-of-type,
		&:target>a:last-of-type {
			display: block
		}
		
		> ul {
			position: relative;
			height: auto;
			display: none;
			left: 0;
			right: 0;
			margin: 0;
			padding-bottom: 10px;
			
			> li {			
				display: block;
				width: 100%;
				float: none;
				padding: 0;
				border-right: none;
				
				> a{
					height: auto;
					text-align: left;
					padding: 8px 0
				}
				
				&:not(:last-child)>a {
					border-right: none;
					border-bottom: 1px solid #468A23
				}
			}
		}
		
		li {
			ul {
				padding: 0;
				text-align: left;
				border-radius: 0;
				box-shadow: none;
				display: block;
				position: static;
				//padding: 0 1.25em 1.25em;				
			}
		}
		&:target > ul{
			display: block
		}
    }

    body {
        overflow-x: hidden
    }    
    .reup-box {
        width: 100%
    }
    .facebook {
        width: 85%;
        padding: 9px 0 9px 1px;
		> img {
			width: 100%
		}
    }
    .address>img {
        float: none
    }            
	.copyrights {
		padding: 10px 0;
		.nhv, .social-icons{
			width: 100%;
			text-align: center;
		}
		.nhv{
			margin-bottom: 15px;
		}
	}			
	.provider-main-features li > span{
		&:first-child, &:last-child{
			float: none;
			width: 100%;
		}
		&:first-child{
			padding: 0;
		}
	}
    .comment-body{
        margin-left: 10px;
    }
}

@media screen and (max-width:576px),
screen and (max-height:40em) {
    #ad,
    #meta {
        display: none
    }
}

@media (min-width:768px) {
	.hidden-sm {
        display: none
    }
}

@media (min-width:576px) {
    .col-sm-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .col-sm-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .col-sm-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-sm-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }    
}